@import "tailwindcss";

@source inline("{hover:,focus:,}bg-{brand,primary,secondary,success,info,warning,danger,white,black,white-secondary,dark,dark-secondary}");
@source inline("{hover:,focus:,}border-{brand,primary,secondary,success,info,warning,danger,white,black,white-secondary,dark,dark-secondary}");
@source inline("{hover:,focus:,}text-{brand,primary,secondary,success,info,warning,danger,white,black,white-secondary,dark,dark-secondary}");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "BahijTheSansArabic";
    src: url("/fonts/Bahij_TheSansArabic-Plain.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BahijTheSansArabic";
    src: url("/fonts/Bahij_TheSansArabic-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@layer base {
    :root {
        --color-brand: #012970;
        --color-primary: #0d6efd;
        --color-secondary: #6c757d;
        --color-success: #198754;
        --color-info: #0dcaf0;
        --color-warning: #ffc107;
        --color-danger: #dc3545;
        --color-white: #ffffff;
        --color-black: #000000;
        --color-white-secondary: #fafafa;
        --color-dark: #030b12;
        --color-dark-secondary: #061523;
    }

    :root[class~="dark"] {
        --color-brand: #89a9e0;
        --color-primary: #176097;
        --color-secondary: #495057;
        --color-success: #1ec289;
        --color-info: #21c5d4;
        --color-warning: #e2d73c;
        --color-danger: #e34f4f;
        --color-white: #ffffff;
        --color-white-secondary: #fafafa;
        --color-black: #000000;
        --color-dark: #030b12;
        --color-dark-secondary: #061523;
        --toastify-color-dark: #061523;
    }
}

@theme {
    --color-brand: var(--color-brand);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-success: var(--color-success);
    --color-info: var(--color-info);
    --color-warning: var(--color-warning);
    --color-danger: var(--color-danger);
    --color-white: var(--color-white);
    --color-white-secondary: var(--color-white-secondary);
    --color-black: var(--color-black);
    --color-dark: var(--color-dark);
    --color-dark-secondary: var(--color-dark-secondary);
    --color-landing-primary: #f6b817;
    --color-landing-secondary: #23190f;

    --font-sans: "Poppins", sans-serif;

    --font-bahij: "BahijTheSansArabic", sans-serif;

    --breakpoint-md: 1024px;
}

html[lang="en"] body {
    font-family: "Poppins", sans-serif;
}

html[lang="ar"] body {
    @apply font-bahij;
}

::-webkit-scrollbar {
    @apply w-[2px];
}

::-webkit-scrollbar-track {
    @apply shadow-md;
}

::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gray-300;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
}

.slide-sidebar-left {
    -webkit-animation: slide-sidebar-left 0.3s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-sidebar-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-sidebar-left {
    0% {
        width: 25%;
    }
    100% {
        width: 6%;
    }
}

@keyframes slide-sidebar-left {
    0% {
        width: 25%;
    }
    100% {
        width: 6%;
    }
}

.slide-sidebar-right {
    -webkit-animation: slide-sidebar-right 0.4s
        cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: slide-sidebar-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes slide-sidebar-right {
    0% {
        width: 6%;
    }
    100% {
        width: 25%;
    }
}

@keyframes slide-sidebar-right {
    0% {
        width: 6%;
    }
    100% {
        width: 25%;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.swal2-popup {
    @apply dark:bg-dark-secondary dark:text-white;
}
